# Digital Humanities 140 Final Project (Summer 2024)

## By Nelly Morales

### Introduction

In universities and colleges throughout the world, student enrollment has increased drastically over time, as secondary institutions and mass media encourage students to acquire higher education to benefit themselves and their career. Although numbers in enrollment have increased, so have the dropout rates in these same institutions. However, researchers have strived to prevent a student’s likelihood of dropping out of college and increase their potential academic success. They do so by looking at various factors in their lives such as their parent’s education level and occupation, any disability they may have, and their home environment. 

The dataset that I have chosen explores these kinds of variables. The dataset was retrieved from the UC Irvine Machine Learning Repository, and was created by Valentim Realinho, Mónica Vieira Martins, Jorge Machado, and Luís Baptista. The data was collected from students going to college in the country of Portugal. The dataset includes information about the student’s demographics, socioeconomic status, and marital status, to name a few. Variables were measured in a variety of ways, such as numbers that indicated varying nationalities or levels of education and numbers 1 and 0 that indicated whether the student was married or not.

My motivation from the data comes from a place of relatabilty. I would like to know more about the factors that increase the likelihood of college students dropping out as I am currently one at the time of creating this project. The question that I am seeking to answer is: What factors contribute to academic success in college, and which factors are most predictive of a student’s likelihood to drop out?

Link to data: https://archive.ics.uci.edu/dataset/697/predict+students+dropout+and+academic+success

In [2]:
# Import every package needed

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

## pip install ucimlrepo in TERMINAL

## Code obtained from website starts here
from ucimlrepo import fetch_ucirepo 
  
# fetch dataset 
predict_students_dropout_and_academic_success = fetch_ucirepo(id=697) 
  
# data (as pandas dataframes) 
X = predict_students_dropout_and_academic_success.data.features 
y = predict_students_dropout_and_academic_success.data.targets 

## Code obtained from website ends here

X.head()

,Marital Status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,...,Curricular units 1st sem (without evaluations),Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP
0,1,17,5,171,1,1,122.0,1,19,12,...,0,0,0,0,0,0.000000,0,10.8,1.4,1.74
1,1,15,1,9254,1,1,160.0,1,1,3,...,0,0,6,6,6,13.666667,0,13.9,-0.3,0.79
2,1,1,5,9070,1,1,122.0,1,37,37,...,0,0,6,0,0,0.000000,0,10.8,1.4,1.74
3,1,17,2,9773,1,1,122.0,1,38,37,...,0,0,6,10,5,12.400000,0,9.4,-0.8,-3.12
4,2,39,1,8014,0,1,100.0,1,37,38,...,0,0,6,6,6,13.000000,0,13.9,-0.3,0.79

In [ ]:
X.plot()